.wrapper-card-tc {
  display: flex;
  flex-direction: column;
}

#page .card-tc {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  max-width: 430px;
  margin-bottom: var(--gap-medium);
  transition: transform 100ms linear;
}

#page .card-tc:not(.is-dark) {
  background-color: var(--color-base-light);
}

#page .card-tc:hover {
  transform: scale(1.02);
}

.card-tc > .logo {
  width: 80%;
  margin-bottom: var(--gap-medium);
  filter: grayscale(100%);
}

.card-tc:hover > .logo {
  filter: grayscale(0);
}

.card-tc.-radius > .logo {
  border-radius: 50%;
}

.card-tc > .title {
  color: var(--color-gueio-first);
  font-size: 1.2em;
  margin-bottom: var(--gap-medium);
  word-wrap: break-word;
  width: 100%;
  line-height: 1.4;
  height: 2.8em;
}

.card-tc > .content {
  display: flex;
  justify-content: center;
  padding-left: 0;
  padding-right: 0;
  margin-bottom: var(--gap-big);
  line-height: 1.4;
  height: 8.4em;
  overflow: hidden;
  text-overflow: ellipsis;
  position: relative;
  margin-right: -1em;
  padding-right: 1em;
}
.card-tc > .content:before {
  content: "...";
  position: absolute;
  bottom: 0;
  background-color: var(--color-base-light);
  width: 100%;
  line-height: 1.4;
}

.card-tc.is-dark > .content:before {
  background-color: var(--color-nes-dark);
}

.card-tc > .action {
  width: 100%;
  margin-top: auto;
}

@media (min-width: 464px) {
  .wrapper-card-tc {
    align-items: center;
  }

  .card-tc > .logo {
    height: 290px;
    width: auto;
  }
}

@media (min-width: 800px) {
  #page .card-tc:hover {
    transform: scale(1.05);
  }
}

@media (min-width: 890px) {
  .wrapper-card-tc {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: stretch;
  }

  #page .card-tc {
    margin-left: var(--gap-small);
    margin-right: var(--gap-small);
  }
}
