.card-tech {
  box-sizing: border-box;
  border-radius: var(--radius-big);
  background-color: var(--color-base-light);
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-bottom: var(--gap-medium);
  overflow: hidden;
  transform-origin: center;
  transition: transform 200ms linear;
}

.card-tech:hover {
  transform: scale(1.05);
}

.card-tech > .logo {
  --height-logo: 210px;

  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  background-color: var(--color-gueio-first-light);
  margin-bottom: var(--gap-medium);
  height: calc(var(--height-logo) + var(--gap-medium) * 2);
}
.card-tech > .logo > img {
  width: var(--height-logo);
}

.card-tech.-radius > .logo > img {
  border-radius: 50%;
  overflow: hidden;
}

.card-tech > .title {
  font-size: var(--size-medium);
  color: var(--color-gueio-first);
  margin-bottom: var(--gap-small);
  word-wrap: break-word;
  letter-spacing: 2px;
}

.card-tech > .content {
  text-align: center;
  margin-bottom: var(--gap-big);
  line-height: 1.4;
}

.card-tech > .action {
  background-color: var(--color-gueio-first);
  color: var(--color-base-light);
  font-size: var(--size-medium);
  line-height: var(--size-medium);
  padding: var(--gap-small);
  border-radius: var(--radius-smaller);
  transition: transform 50ms linear;
}

.card-tech > .action:hover {
  transform: scale(1.08);
}

.card-tech > .action:active {
  box-shadow: none;
  transform: translateY(3px);
}
