.wrapper-card-tc {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#page .card-tc {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  max-width: 430px;
  margin-bottom: var(--gap-medium);
  transition: transform 100ms linear;
  background-color: var(--color-base-light);
}

#page .card-tc:hover {
  transform: scale(1.02);
}

.card-tc > .logo {
  height: 290px;
  margin-bottom: var(--gap-medium);
  filter: grayscale(100%);
}

.card-tc:hover > .logo {
  filter: grayscale(0);
}

.card-tc > .title {
  color: var(--color-gueio-first);
  font-size: 1.2em;
  margin-bottom: var(--gap-medium);
  word-wrap: break-word;
  width: 80%;
}

.card-tc > .content {
  padding-left: 0;
  padding-right: 0;
  margin-bottom: var(--gap-big);
  line-height: 1.4;
}

.card-tc > .action {
  width: 100%;
  margin-top: auto;
}

@media (min-width: 800px) {
  #page .card-tc:hover {
    transform: scale(1.05);
  }
}

@media (min-width: 890px) {
  .wrapper-card-tc {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: stretch;
  }
}
