.logo-tc {
  display: flex;
  align-items: flex-end;
}

.logo-tc > .gueio {
  height: 100%;
  margin-right: var(--gap-smaller);
}

.logo-tc > .text {
  font-size: var(--size-medium);
  line-height: 1;
  color: var(--color-gueio-first);
}
