<!DOCTYPE html>
<html lang="pt-BR">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Quarentena Tech</title>

    <link
      href="https://fonts.googleapis.com/css?family=Bungee|Comfortaa:400,700&display=swap"
      rel="stylesheet"
    />

    <link rel="shortcut icon" href="/favicon/favicon.ico" type="image/x-icon" />

    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="/favicon/favicon-32x32.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="96x96"
      href="/favicon/favicon-96x96.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="16x16"
      href="/favicon/favicon-16x16.png"
    />

    <link rel="stylesheet" href="/css/settings/colors.css" />
    <link rel="stylesheet" href="/css/settings/sizes.css" />
    <link rel="stylesheet" href="/css/settings/gaps.css" />
    <link rel="stylesheet" href="/css/settings/radius.css" />
    <link rel="stylesheet" href="/css/tools/_shadow.css" />
    <link rel="stylesheet" href="/css/tools/_base.css" />
    <link rel="stylesheet" href="/css/generic/reset.css" />
    <link rel="stylesheet" href="/css/elements/base.css" />
    <link rel="stylesheet" href="/css/elements/content.css" />
    <link rel="stylesheet" href="/css/components/title-tech.css" />
    <link rel="stylesheet" href="/css/components/logo-tech.css" />
    <link rel="stylesheet" href="/css/components/card-tech.css" />
    <link rel="stylesheet" href="/css/components/content-tech.css" />
    <link rel="stylesheet" href="/css/components/social-media.css" />
    <link rel="stylesheet" href="/css/containers/header-tech.css" />
    <link rel="stylesheet" href="/css/containers/wrapper-video.css" />
    <link rel="stylesheet" href="/css/containers/main-tech.css" />
    <link rel="stylesheet" href="/css/containers/section-video.css" />
    <link rel="stylesheet" href="/css/containers/wrapper-social.css" />
    <link rel="stylesheet" href="/css/containers/footer-tech.css" />

    <meta
      property="og:title"
      content="Quarentena.tech | Iniciativas de tecnologia durante o período de quarentena"
    />
    <meta property="og:site_name" content="Quarentena.tech" />
    <meta property="og:url" content="https://quarentena.tech" />
    <meta
      property="og:description"
      content="Nesse momento complicado que estamos passando, felizmente têm muitas pessoas, comunidades e empresas realizando pequenos eventos 100% online e de graça pra galera. "
    />
    <meta property="og:type" content="website" />
    <meta property="og:image" content="https://quarentena.tech/img/seo.jpg" />
  </head>
  <body>
    <header class="header-tech _container">
      <img class="logo-tech" src="/img/jedi.png" alt="Gueio Jedi" />
      <h1 class="title-tech">#Quarentena.Tech</h1>

      <p class="content-tech">
        Nesse momento complicado que estamos passando, felizmente têm muitas
        pessoas, comunidades e empresas realizando pequenos eventos
        <em>100% online</em> e de <em>graça</em> pra galera. A comunidade da
        <strong>CollabCode</strong> criou esse site com o objetivo de juntar
        todos esses eventos maravilhosos que estão nos ajudando a passar por
        essa crise de uma forma mais feliz!
      </p>
    </header>
    <main class="main-tech _container">
      <section class="section-video">
        <ul class="wrapper-social">
          <li class="item">
            <a href="https://twitch.tv/collabdode" class="social-media">
              Twitch da CollabCode
            </a>
          </li>
          <li class="item">
            <a href="https://bit.ly/discord_collabcode" class="social-media"
              >Discord da CollabCode
            </a>
          </li>
          <li class="item">
            <a href="https://twitter.com/collabcodetech" class="social-media"
              >Twitter da CollabCode</a
            >
          </li>
          <li class="item">
            <a href="https://github.com/collabcodetech" class="social-media"
              >GitHub da CollabCode</a
            >
          </li>
        </ul>
      </section>

      <section class="wrapper-card-tech">
        {% for event in events %}
        <article class="card-tech _box-shadow-card {{event.className}}">
          <figure class="logo">
            <img src="{{event.logo}}" alt="{{event.alt}}" class="logo" />
          </figure>
          <h2 class="title">{{event.title}}</h2>
          <p class="content _container">
            {{event.content}}
          </p>
          <a href="{{event.url}}" target="_blank" class="action _box-shadow-btn"
            >Detalhes</a
          >
        </article>
        {% endfor %}
      </section>
    </main>

    <footer class="footer-tech _container">
      <p class="content">
        Conteúdo criado pela comunidade
        <a href="" class="action">CollabCode</a>
      </p>

      <ul class="wrapper-social">
        <li class="item">
          <a href="https://twitch.tv/collabdode" class="social-media">
            Twitch da CollabCode
          </a>
        </li>
        <li class="item">
          <a href="https://bit.ly/discord_collabcode" class="social-media"
            >Discord da CollabCode
          </a>
        </li>
        <li class="item">
          <a href="https://twitter.com/collabcodetech" class="social-media"
            >Twitter da CollabCode</a
          >
        </li>
        <li class="item">
          <a href="https://github.com/collabcodetech" class="social-media"
            >GitHub da CollabCode</a
          >
        </li>
      </ul>
    </footer>
  </body>
</html>
