<!DOCTYPE html>
<html lang="pt-BR">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Quarentena Tech</title>

    <link rel="canonical" href="https://quarentena.tech" />
    <link
      href="https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://unpkg.com/nes.css@latest/css/nes.min.css"
      rel="stylesheet"
    />
    <link rel="shortcut icon" href="/favicon/favicon.ico" type="image/x-icon" />
    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="/favicon/favicon-32x32.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="96x96"
      href="/favicon/favicon-96x96.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="16x16"
      href="/favicon/favicon-16x16.png"
    />

    <link rel="stylesheet" href="/css/components/need-js.css" />
    <link rel="stylesheet" href="/css/settings/colors.css" />
    <link rel="stylesheet" href="/css/settings/sizes.css" />
    <link rel="stylesheet" href="/css/settings/gaps.css" />
    <link rel="stylesheet" href="/css/tools/_base.css" />
    <link rel="stylesheet" href="/css/generic/reset.css" />
    <link rel="stylesheet" href="/css/elements/base.css" />
    <link rel="stylesheet" href="/css/components/logo-tc.css" />
    <link rel="stylesheet" href="/css/components/title-tc.css" />
    <link rel="stylesheet" href="/css/components/card-tc.css" />
    <link rel="stylesheet" href="/css/components/social-media.css" />
    <link rel="stylesheet" href="/css/components/heart-tc.css" />
    <link rel="stylesheet" href="/css/components/discord-tc.css" />
    <link rel="stylesheet" href="/css/components/button-social.css" />
    <link rel="stylesheet" href="/css/components/tag-tc.css" />
    <link rel="stylesheet" href="/css/containers/header-tc.css" />
    <link rel="stylesheet" href="/css/containers/menu-tc.css" />
    <link rel="stylesheet" href="/css/containers/wrapper-category.css" />
    <link rel="stylesheet" href="/css/containers/main-tc.css" />
    <link rel="stylesheet" href="/css/containers/wrapper-social.css" />
    <link rel="stylesheet" href="/css/containers/banner-tc.css" />
    <link rel="stylesheet" href="/css/containers/footer-tc.css" />

    <meta
      property="og:title"
      content="Quarentena.tech | Iniciativas de tecnologia durante o período de quarentena"
    />
    <meta property="og:site_name" content="Quarentena.tech" />
    <meta property="og:url" content="https://quarentena.tech" />
    <meta
      property="og:description"
      content="Nesse momento complicado que estamos passando, felizmente têm muitas pessoas, comunidades e empresas realizando pequenos eventos 100% online e de graça pra galera."
    />
    <meta property="og:type" content="website" />
    <meta property="og:image" content="https://quarentena.tech/img/seo.jpg" />
  </head>

  <body id="page" class="nes">
    <header class="header-tc nes-container is-rounded">
      <figure class="logo-tc">
        <img class="gueio" src="/img/jedi.png" alt="Gueio Jedi" />
        <figcaption class="text">#Quarentena.Tech</figcaption>
      </figure>

      <a class="menu need-js" href="#menu-tc">
        <i class="nes-icon is-large heart icon"></i>
        <span class="content">Menu</span>
      </a>
    </header>

    <section class="banner-tc nes-container with-title is-centered">
      <p class="title-tc title">Objetivo</p>
      <p class="content">
        Nesse momento complicado que estamos passando, felizmente têm muitas
        pessoas, comunidades e empresas realizando pequenos eventos,
        <em class="medium">100% online</em> e de
        <em class="medium">graça</em> pra galera. A comunidade da
        <strong class="high">CollabCode</strong> criou esse site com o objetivo
        de juntar todas essas iniciativas maravilhosas que estão nos ajudando a
        passar por essa crise de uma forma mais feliz!
      </p>

      <i class="heart-tc nes-icon is-large heart"></i>
    </section>

    <nav id="menu-tc" class="menu-tc">
      <label id="dark-mode" class="mode need-js">
        <input type="checkbox" class="nes-checkbox" />
        <span>Dark</span>
      </label>
    
      <i class="nes-icon close is-large"></i>

      <section class="wrapper-category">
        <h3 class="title">Categorias</h3>

        {% for categorie in categories %}
        <button data-category="{{categorie.name}}" type="button" class="nes-btn category-tc {{categorie.className}}">
          <i class="nes-icon is-large star is-transparent icon"></i>
          {{categorie.name}}
        </button>
        {% endfor %}

        <button type="button" class="nes-btn category-tc -call-to-action">
          Filtrar
        </button
      </section>
    </nav>

    <main class="main-tc _container">
      <script src="/js/share-social.js"></script>

      <section class="wrapper-card-tc">
        {% for event in events %}
        <article class="card-tc -active nes-container is-rounded {{event.className}}" data-category="{{event.categories}}">
          {% for categorie in categories %}
          {% if categorie.name === event.categories.toString() %}
          <a href="#" class="tag-tc nes-badge">
            <span class="is-dark {{categorie.className}}">{{event.categories}}</span>
          </a>
          {% endif %}
          {% endfor %}
          <img class="logo" src="{{event.logo}}" alt="{{event.alt}}" />

          <h2 class="title">{{event.title}}</h2>
          <p class="content _container">
            {{event.content}}
          </p>

          <button
            class="button-social nes-btn is-warning"
            onclick="share.withWebApi(event)"
          >
            Compartilhar
            <i class="icon nes-icon heart is-medium"></i>
          </button>

          <a
            href="{{event.url}}"
            target="_blank"
            class="action nes-btn is-error"
            >Detalhes</a
          >
        </article>
        {% endfor %}
      </section>
    </main>

    <footer class="footer-tc nes-container is-rounded">
      <p class="content">
        Conteúdo criado pela comunidade
        <a href="https://bit.ly/discord-collabcode" class="action"
          >CollabCode</a
        >
      </p>

      <ul class="wrapper-social">
        <li class="item">
          <a
            href="https://twitch.tv/collabdode"
            target="_blank"
            rel="noreferrer noopener"
            class="social-media"
          >
            <i class="social-media nes-icon twitch is-large"></i>
          </a>
        </li>
        <li class="item">
          <a
            href="https://bit.ly/discord-collabcode"
            target="_blank"
            rel="noreferrer noopener"
            class="social-media"
          >
            <i class="social-media nes-icon discord is-large"></i>
          </a>
        </li>
        <li class="item">
          <a
            href="https://twitter.com/collabcodetech"
            target="_blank"
            rel="noreferrer noopener"
            class="social-media"
          >
            <i class="social-media nes-icon twitter is-large"></i>
          </a>
        </li>
        <li class="item">
          <a
            href="https://github.com/collabcodetech"
            target="_blank"
            rel="noreferrer noopener"
            class="social-media"
          >
            <i class="social-media nes-icon github is-large"></i>
          </a>
        </li>
      </ul>
    </footer>

    <script src="https://polyfill.io/v3/polyfill.min.js?features=Array.from,Promise,Symbol,Object.setPrototypeOf,Object.getOwnPropertySymbols"></script>
    <script src="https://cdn.jsdelivr.net/npm/superagent"></script>

    <script src="/js/global.js"></script>
    <script src="/js/menu-tc.js"></script>
    <script src="/js/dark-mode.js"></script>
    <script src="/js/need-js.js"></script>
  </body>
</html>
