:root {
  --color-base-light: white;

  --color-gueio-first: #f25a70;
  --color-gueio-first-light: rgba(242, 90, 112, 0.1);
  --color-gueio-second: #eae6da;
  --color-gueio-third: #3a4042;

  --color-status-first: #7c5e99;
}
