.banner-tc {
  margin: 0 var(--gap-small) var(--gap-medium);
  background-color: var(--color-base-light);
}

.banner-tc .high {
  color: var(--color-gueio-first);
}

.banner-tc .medium {
  color: var(--color-status-first);
}

.banner-tc > .content {
  line-height: 1.4;
  margin-bottom: var(--gap-small);
}

@media (min-width: 900px) {
  .banner-tc {
    width: 80vw;
    margin-left: auto;
    margin-right: auto;
  }
}
