.footer-tc {
  padding-top: var(--gap-medium);
  padding-bottom: var(--gap-medium);
  margin-top: var(--gap-big);
  text-align: center;
  font-size: var(--size-small);
}

.footer-tc .action {
  display: block;
  font-size: var(--size-medium);
  margin-top: var(--gap-smaller);
  color: var(--color-gueio-first);
}
