#page .header-tc {
  box-sizing: border-box;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: var(--size-height-header);
  margin-bottom: var(--gap-big);
  box-shadow: 0 6px 6px var(--color-nes-dark);
}

#page .header-tc.is-dark {
  top: -4px;
}

#page .header-tc:not(.is-dark) {
  background-color: var(--color-base-light);
}

.header-tc > .logo-tc {
  position: absolute;
  align-items: center;
  height: 110%;
}

.header-tc.is-dark > .logo-tc {
  height: 89%;
}

.header-tc > .logo-tc > .text {
  display: none;
  font-size: 20px;
  width: 245px;
  word-wrap: break-word;
  line-height: 1.2;
}

.header-tc > .menu {
  display: flex;
  align-items: center;
  margin-left: auto;
  text-decoration: none;
  color: var(--color-nes-dark);
}

.header-tc.is-dark > .menu {
  color: var(--color-base-light);
}

.header-tc .content {
  margin-left: 10px;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 13px;
  writing-mode: vertical-rl;
  text-orientation: upright;
}

.header-tc .icon {
  transform: scale(3.4) translate(0px, 1.5px);
}

.header-tc > .mode {
  display: block;
  width: 115px;
  margin-left: auto;
}

@media (min-width: 560px) {
  .header-tc > .logo-tc > .text {
    display: block;
  }
}
