.wrapper-video {
  display: block;
  margin-left: auto;
  margin-right: auto;
  box-sizing: border-box;
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
  width: calc(100% - var(--gap-small));
  border: 4px solid var(--color-gueio-first);
  border-radius: var(--radius-small);
}

.wrapper-video iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
