.wrapper-category {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: var(--gap-medium);
}

.wrapper-category > .title {
  width: 100%;
  padding-top: var(--gap-medium);
  margin-bottom: var(--gap-small);
  text-align: center;
  font-size: 1.4em;
}

.wrapper-category > .category-tc {
  --margin: 18px;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
  width: calc(50vw - var(--margin));
  padding-left: 4px;
  padding-right: 4px;
}

.wrapper-category > .category-tc.-twitch {
  background-color: var(--color-twitch);
  color: var(--color-base-light);
}

.wrapper-category > .category-tc.-call-to-action {
  margin: 40px;
  justify-content: center;
  max-width: 300px;
  height: 60px;
}

.wrapper-category > .category-t1c.-twitch:focus {
  box-shadow: 0 0 0 6px var(--color-twitch-light);
}

.wrapper-category > .category-tc.-twitch::after {
  box-shadow: inset -4px -4px var(--color-twitch-boder);
}

.wrapper-category > .category-tc.-twitch:hover::after {
  box-shadow: inset -6px -6px var(--color-twitch-boder);
}

.wrapper-category > .category-tc.-twitch:active::after {
  box-shadow: inset 4px 4px var(--color-twitch-boder);
}

.wrapper-category .icon {
  transform: scale(3.4) translate(2px, 0px);
}

.wrapper-category .icon::before {
  transition: box-shadow 400ms cubic-bezier(0.47, -0.82, 0.49, -0.29);
}

@media (min-width: 400px) {
  .wrapper-category > .category-tc {
    --margin: 30px;
  }
}
